<!-- <p>header works!</p> -->
<!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->

<div class="header-main container d-flex justify-content-between align-items-center px-0 pt-2">
    <div class="logoContainer">
        <img src="../assets/images/logo.jpeg" alt="logo-image">
    </div>
    <div class="headerMenus p-3">
        <ul>
            <li>Home</li>
            <li>Digital MArketing</li>
            <li>About Us</li>
            <li>Contact US</li>
            <li>Team</li>
        </ul>
    </div>
</div>