<div class="footer-main row m-0 px-0 py-3 pb-md-2 pt-md-5 mt-5">

    <div class="container pb-4">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 ps-0">
                <div class="single-widget logoContainer">
                    <img src="assets/images/logo.jpeg" alt="logo-image">
                    <p>Flamingo, established in 1992, is a leading polymer solutions provider &amp; distribution company
                        based in Mumbai.</p>
                    <p class="mb-1">Subscribe to get latest updates &amp; products information from us</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-widget single-widget-1">
                    <h3>Products</h3>
                    <ul>
                        <li>
                            <a href="product/white-masterbatches">White Masterbatches</a>
                        </li>
                        <li>
                            <a href="product/black-masterbatches">Black Masterbatches</a>
                        </li>
                        <li>
                            <a href="product/colour-masterbatches">Colour Masterbatches</a>
                        </li>
                        <li>
                            <a href="product/shut-off-nozzles">Shut-Off Nozzles</a>
                        </li>
                        <li>
                            <a href="product/static-mixers">Static Mixers</a>
                        </li>
                        <li>
                            <a href="product/recycled-polymers">Recycled Polymers</a>
                        </li>
                        <li>
                            <a href="product/germ-guard">Germ Guard</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-widget single-widget-2">
                    <h3>Solutions</h3>
                    <ul>
                        <li>
                            <a href="service/-2">Food &amp; Beverages</a>
                        </li>
                        <li>
                            <a href="service/-7">Consumer Goods</a>
                        </li>
                        <li>
                            <a href="service/-9">Medical Plastics</a>
                        </li>
                        <li>
                            <a href="service/-10">Plastic Furniture</a>
                        </li>
                        <li>
                            <a href="service/-13">Automotive &amp; Infrastructure</a>
                        </li>
                        <li>
                            <a href="service/flexible-rigid-packaging">Flexible &amp; Rigid Packaging</a>
                        </li>
                        <li>
                            <a href="service/personal-care-home-care">Personal Care &amp; Home Care</a>
                        </li>
                        <li>
                            <a href="service/masterbatch-compound">Masterbatch Compound</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-widget single-widget-3">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="about-us.php">About</a>
                        </li>
                        <li>
                            <a href="careers.php">Careers</a>
                        </li>
                        <li>
                            <a href="blog.php">Blog</a>
                        </li>
                        <li>
                            <a href="contact.php">Contact us</a>
                        </li>
                        <li>
                            <!--<span>( Emergency Call )</span>-->
                            <a href="tel: +91 8657407598">
                                <i class="flaticon-telephone-handle-silhouette"></i>
                                +91 8657407598 </a>
                        </li>
                    </ul>

                    <div class="single-widgets footers-social pt-3">
                        <span class="socialMedia">
                            <i class="fa text-white fa-brands fa-facebook-f"></i>
                            <i class="fa text-white fa-brands fa-linkedin-in"></i>
                            <i class="fa text-white fa-brands fa-instagram"></i>
                            <i class="fa text-white fa-brands fa-whatsapp"></i>
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="copyRight">
        <div class="row container">
            <div class="col-lg-12">
                <div class="single-widgets">
                    <p class="text-center">
                        © 2024 Flamingo Additives &amp; Colourants LLP. All Rights Reserved. Powered By:
                        <a class="text-white" target="_blank" href="https://www.digihost.in"
                            title="DigiHost Web Services">
                            DigiHost Web Services
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>