<div class="outer-aboutUs container py-5">
    <div class="text-center mb-4 mt-4">
        <h5 class="mb-2">Our Company</h5>
        <h2 class="head">Flamingo Additives & Colourants LLP</h2>
    </div>
    <div class="paragraphs">
        <p class="mb-2">
            Founded in 1992, Flamingo Additives & Colourants LLP is a leader in providing 360 degree Polymer Solutions to
            the plastic processing industry. From humble beginnings, Flamingo has today grown into a formidable pan-India
            player known for high quality Polymer material solutions and dependable service backup.
        </p>
        <p class="mb-2">
            We owe our success and continued market leadership to shared values and core competence in Polymer Technologies
            & Solutions due to our partnerships with leading manufacturers who are global leaders in their niche fields &
            product lines. Our purpose is to consistently innovate with them and deliver a large spectrum of value added
            solutions to a fast growing client base pan India.
        </p>
        <p class="mb-2">
            The strength of the Flamingo lies in understanding the challenges faced by the Industry. We work very closely
            with our partners to also address the environmental concerns of our Clients due to plastics and ensure a
            feasible solution is given. We work to the same high standards of our clients, allowing them in turn to improve
            their own business performance. We have earned a solid reputation for integrity which has earned the respect and
            trust of partners around the world. We continue to be proactive and continue to grow by strong teamwork and
            transparent relationships with all whom we serve.
        </p>
        <p class="mb-2">
            Happy Customers are our future and we strive to exceed our customers’ expectation by anticipating and responding
            to their needs by delivering best in class solutions, timely delivery and service. Various projects with our key
            clients are underway to bring circularity and sustainability in the polymer chain.
        </p>
    </div>
</div>