<div class="parent-home">
    <!-- top banner -->
    <div class="banner-main row m-0 pt-5 pb-4 px-4">
        <div class="col-12 col-md-8 p-0">
            <div class="bannerText">
                <h1 class="banner-title">
                    The best marketing doesn't feel like silly marketing!
                </h1>
                <p class="banner_desc">
                    Our mission is to help you tell that story in a compelling way, connecting you with your audience,
                    and achieving your business goals.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 p-0 bannerImage d-flex">
            <img src="../../assets/images/bannerImage1.jpg" alt="" srcset="">
        </div>
        <!-- Contact for Latest News -->
        <div class="latest-news row m-0 px-4 py-4 mt-4">
            <div class="col-4 p-0 text-center">
                <h1>Contact Us Get Latest News</h1>
            </div>
            <div class="col-8 p-0 row m-0 d-flex align-items-center justify-content-end gap-4">
                <!-- <div class="row m-0 "> -->
                <div class="col-3 p-0">
                    <input type="text" class="form-control" placeholder="Your Website URL" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="col-3 p-0">
                    <input type="text" class="form-control" placeholder="Your Email" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="col-3 p-0">
                    <button type="button" class="btn bg-primary w-100 text-white">Subscribe</button>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>


    <!-- Relationship container -->
    <div class="relationship pt-4 pb-3">
        <div class="row m-0 justify-content-center gap-5">
            <div class="col-12 col-md-5 p-0 bannerImage d-flex justify-content-center">
                <img src="../../assets/images/relationship.png" class="w-80" alt="" srcset="">
            </div>
            <div class="col-12 col-md-6 p-0">
                <div>
                    <h2 class="relation-title mb-5">
                        It’s Very Important To Know Each Other Well.
                    </h2>
                    <p class="banner_desc">
                        We understand that the heart of our business lies in the relationships we build with our
                        clients. The success of any communication and marketing project is deeply rooted in
                        collaboration, trust, and a shared commitment to achieving your goals. That’s why we prioritize
                        the customer’s needs and wants above all else.
                    </p>
                    <p class="banner_desc">
                        We start every project by listening carefully to your ideas, needs, and objectives. Our team
                        takes the time to understand your brand, industry, and target audience. By doing so, we can
                        tailor our services to meet your specific requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Services container -->
    <div class="services text-center row m-0 justify-content-center pt-5">
        <div class="servic-title text-bold col-7 mb-5">
            <h1>
                OUR DEDICATED SERVICES
            </h1>
            <h5 class="pt-3">
                Elevate Your Brand with Dedicated Services: Flamingo Communications' tailored strategies and creative
                campaigns drive exceptional results.
            </h5>
        </div>
        <div class="services-cards d-flex justify-content-center gap-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/service-bg.png" class="card-img-top position-relative" alt="...">
                <img src="../../assets/images/service1.png" class="card-img-absolute" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Digital Marketing Services</h5>
                    <p class="card-text">Our Digital Marketing Services help your brand to the forefront. SEO, SEM, social media, and data-driven strategies for digital success</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/service-bg.png" class="card-img-top position-relative" alt="...">
                <img src="../../assets/images/service2.png" class="card-img-absolute" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ATL Services</h5>
                    <p class="card-text">We deliver results with Above-The-Line (ATL) marketing. Elevate your brand's visibility with creative, impactful campaigns that reach your target audience.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images/service-bg.png" class="card-img-top position-relative" alt="...">
                <img src="../../assets/images/service3.png" class="card-img-absolute" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BTL Services</h5>
                    <p class="card-text">We offer Below-The-Line (BTL) marketing expertise. Engage your audience directly with innovative, personalized campaigns that drive real-world results.</p>
                </div>
            </div>
        </div>
    </div>
</div>